{% comment %}
  标题组件
  用法: 
  {% render 'component-test-title', title: title %}
{% endcomment %}

<div class="title-wrap">
    <div class="text">{{title}}</div>
</div>
{% style %}  
.title-wrap {
  width: 100%;
  margin: 10px 0;
  padding: 20px 0 20px 20px;
}

.title-wrap .text {
  font-size: 2.8rem;
  font-weight: 600;
  color: #333;
  text-align: left;
  line-height: 1.3;
  position: relative;
  padding-bottom: 20px;
}

.title-wrap .text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0,0,0,0.1);
  box-shadow: 0 1px 0 rgba(255,255,255,0.2);
}
{% endstyle %}
