<div class="page-container">
  {% render 'component-customer-list', limit: 4, offset: 0, tag: 'Customized' %}
</div>
<style>
  @media screen and (max-width: 768px) {
    .page-container {
      padding: 0 15px;
    }
  }
  @media screen and (max-width: 480px) {
    .page-container {
      padding: 0 10px;
    }
  }
</style>
