{% layout 'theme' %}
{% section 'custom-hero-section' %}
<div class="page-container page-width">
  {% section 'custom-seasons-section' %}
  {% section 'custom-senses-section' %}
  {% section 'custom-rituals-section' %}
  {% section 'custom-community-section' %}
  {% section 'custom-about-section' %}
</div>
<style>
  .page-width {
    padding: 30px;
    margin: 0 auto;
  }
  @media screen and (max-width: 768px) {
    .page-container {
      padding: 0 15px;
    }
  }
  @media screen and (max-width: 480px) {
    .page-container {
      padding: 0 10px;
    }
  }
</style>
